* {
    margin: 0;
    background-color: #e4d5b7;
    font-family: 'Merriweather', serif;
    margin-left: 40px;
    margin-right: 40px;
}
h2 {
    font-size: 30px;
    margin-left: 0;
    padding-left: 2px;
    margin-top: 10px;
}

header {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    padding: 1em;
}

img {
    object-fit: scale-down;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #e4d5b7;
}
.item {
    height: 450px;
    border-radius: 20px;
    box-shadow: 4px 6px 4px;
    display: inline-block;
    width: 25em;
    background-color: #faf9f6;
    margin: 10px;
    font-size: 0.9em;
}
.item-extended-img {
    height: 450px;
    border-radius: 20px;
    box-shadow: 4px 6px 4px;
    display: inline-block;
    width: 25em;
    background-color: #faf9f6;
    margin-left: 30em;
    margin-top: 1em;
    font-size: 0.9em;
}

.item-mini,
.item-extended {
    background-color: #faf9f6;
    height: 100%;
    padding: 0;
    margin: 0;
}
.item-extended {
    background-color: #faf9f6;
    height: 90%;
    padding: 0;
    margin: 0;
}
.item-top {
    text-align: center;
    margin-top: 1em;
    height: 50%;
    background-color: #faf9f6;
}

p {
    background-color: #faf9f6;
    padding: 0.5px;
    margin: 0;
}
p {
    font-size: 1.5em;
}
.item-link {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #faf9f6;
    padding: 0.5px;
    margin: 0;
}

.item-img {
    height: 80%;
    width: 70%;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
}

.visible {
    visibility: visible;
    opacity: 1;
    animation-delay: 1s;
    animation-name: fade-out;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

.site-block {
    display: flex;
    flex-direction: row;
}

#added-message {
    background: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.item-img-extended {
    width: 40%;
    height: 85%;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
}
.item-top-extended {
    text-align: center;
    margin-top: 1em;
    height: 55%;
    background-color: #faf9f6;
}
h3 {
    font-weight: bold;
    font-size: 1.25em;
}

.item-link:hover {
    transform: scale(1.05);
}

.item-link:active {
    transform: scale(0.95);
}

form {
    margin-top: 1em;
}

p {
    font-size: 1.25em;
}
.back {
    margin-left: 20em;
    margin-top: 20em;
}
.extend {
    height: 40em;
    background-color: #faf9f6;
    display: inline-block;
    width: 80em;
    margin-left: 0;
    border-radius: 1em;
    box-shadow: 4px 6px 4px;
    padding: 1em;
}

/* ----- START of Button Styles ----- */

/* Default Button */
.btn {
    margin: 0rem 0.2rem 0rem 0.2rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1em;
}

.btn:hover {
    background-color: #faf9f6;
}

/* Submit Button */
.btn-submit {
    background-color: #9aed80;
}

.btn-submit:hover {
    background-color: #6bed42;
}

/* ----- END of Button Styles ----- */

.container {
    display: flex;
    justify-content: center;
}

/* ----- START of Forms Styles ----- */

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    width: 600px;
    border-radius: 12px;
}

.forms-container {
    margin-bottom: 1em;
}

.form-box div {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0rem;
}

.form h3 {
    background-color: none;
}

.form-box input {
    border: 1px solid black;
    padding: 0.3rem;
    /* max-width: 70%; */
}

.form button {
    width: 50%;
    align-self: center;
    margin-bottom: 0.5rem;
}

/* ----- END of Forms Styles ----- */

.usersNav {
    float: left;
    margin: 0%;
    padding: 0%;
    padding-bottom: 100%;
    margin-bottom: 100%;
}
.userName {
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.2s;
}

.userName:hover {
    color: rgb(129, 96, 53);
    transform: scale(1.05);
}

.userName:active {
    transform: scale(0.95);
}

.item-update-form {
    text-align: center;
    height: 90%;
    width: 100%;
    margin: auto;
    background-color: #faf9f6;
}

@keyframes fade-out {
    0% {
        opacity: 100;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.8;
    }
}
