body {
    font-family: 'Merriweather', serif;
    background-color: #b0b0b0;
}

.swal2-popup {
    /* font-size: 1.6rem !important; */
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 30px;
    margin-left: 0;
    padding-left: 2px;
    margin-top: 10px;
    text-align: center;
}

header {
    text-align: right;
    background-color: #404040;
    padding-top: 1em;
    color: black;
    font-family: monospace;
}
.logo {
    text-align: center;
}

.item-bottom {
    height: 70%;
    padding: 1em;
    border-radius: 10px;
}
.item-img {
    margin-left: 3em;
}

.item-mini {
    border-radius: 20px;
    box-shadow: 4px 6px 4px;
    display: inline-block;
    vertical-align: top;
    max-width: 25em;
    background-color: white;
    margin: 3em;
    font-size: 0.9em;
    height: 35em;
}
.item-img-extended {
    height: 70%;
    width: 30%;
    margin-left: 30em;
    margin-top: 3em;
    font-size: 0.9em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: white;
}
.items-list {
    margin-left: 5em;
}

.item-extended {
    height: 60%;
    padding: 0;
    margin-bottom: 3em;
    background-color: white;
}
.item-top {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    padding: 0.5px;
    margin: 0;
    background-color: white;
}
p {
    font-size: 1.5em;
}
.item-link {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0.5px;
    margin: 0;
}

.item-img {
    height: 70%;
    width: 70%;
    margin-bottom: 0;
}

.component-title-items {
    border-bottom: #404040 1px solid;
    margin-right: 10em;
    padding: 1em;
}

.visible {
    visibility: visible;
    opacity: 1;
    animation-delay: 1s;
    animation-name: fade-out;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

.site-block {
    display: flex;
    flex-direction: row;
}

#added-message {
    background: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.item-top-extended {
    text-align: center;
    margin-top: 1em;
    height: 55%;
    background-color: white;
}
h1 {
    padding-bottom: 1em;
}
h3 {
    font-weight: bold;
    font-size: 1.25em;
}

.item-link:hover {
    transform: scale(1.05);
}

.item-link:active {
    transform: scale(0.95);
}

form {
    margin-top: 1em;
}

p {
    font-size: 1.25em;
}
.back {
    margin-left: 20em;
    margin-top: 20em;
}
.extend {
    height: 40em;
    background-color: white;
    display: inline-block;
    width: 80em;
    margin-left: 3em;
    border-radius: 1em;
    box-shadow: 4px 6px 4px;
    padding: 1em;
}

/* ----- START of Button Styles ----- */

/* Default Button */
.btn {
    margin: 0rem 0.2rem 0rem 0.2rem;
    padding: 0.3rem 0.5rem;
    color: black;
    font-family: monospace;
    margin-top: 1em;
    font-weight: bold;
}

button {
    border-radius: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: black;
    font-family: monospace;
}

/* Submit Button */
.btn-submit {
    background-color: #9aed80;
}

.btn-submit:hover {
    background-color: #6bed42;
}
.delete {
    margin-left: 8em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

/* ----- END of Button Styles ----- */

.container {
    display: flex;
    justify-content: center;
}

/* ----- START of Forms Styles ----- */

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    width: 600px;
    border-radius: 12px;
    background-color: #b0b0b0;
}

.forms-container {
    margin-bottom: 1em;
    background-color: #404040;
    box-shadow: 4px 5px 4px;
    padding-bottom: 1em;
}

.form-box div {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 1rem;
}

.form h3 {
    background-color: none;
}

.form-box input {
    border: 1px solid black;
    padding: 0.3rem;
}

.form button {
    width: 50%;
    align-self: center;
    margin-bottom: 0.5rem;
}

/* ----- END of Forms Styles ----- */

.usersNav {
    float: left;
    margin: 0%;
    padding: 0%;
    padding-bottom: 100%;
    margin-bottom: 100%;
}
.users {
    background-color: #787878;
    box-shadow: 4px 5px;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    font-family: monospace;
}
.component-title-users {
    border-bottom: #404040 1px solid;
}

.userName {
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.2s;
}

.userName:hover {
    color: black;
    transform: scale(1.05);
}

.userName:active {
    transform: scale(0.95);
}

.item-update-form {
    text-align: center;
    height: 90%;
    width: 100%;
    margin: auto;
}

@keyframes fade-out {
    0% {
        opacity: 100;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.8;
    }
}

@media screen and (max-width: 560px) {
    .item-mini {
        max-width: 20em;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        max-height: 30em;
    }
    .users {
        float: left;
        margin: 0%;
        padding: 0%;
        padding-bottom: 100%;
        margin-bottom: 100%;
        max-width: 7em;
    }
    .usersNav {
        max-width: 7em;
    }
    .items-list {
        margin-left: 0;
    }
    .component-title-items {
        margin-left: 3em;
        border-bottom: none;
    }
    .delete {
        margin-left: 6.5em;
    }
    .item-extended {
        max-height: 30%;
    }
    .extend {
        max-width: 20em;
        min-height: 40em;
        margin-left: 1em;
    }
    .item-img-extended {
        margin-top: 15em;
        max-height: 50%;
        max-width: 60%;
    }
    button {
        margin: 0;
        padding: 0;
    }
    .back {
        margin: 0;
    }
    .button-div {
        margin-top: 20em;
    }
}
