* {
    margin: 0;
    box-sizing: border-box;
    background-color: #e4d5b7;
    font-family: 'Merriweather', serif;
    margin-left: 40px;
    margin-right: 40px;
}
h2 {
    font-size: 30px;
    margin-left: 0;
    padding-left: 2px;
    margin-top: 10px;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #e4d5b7;
}
.container-fluid {
    height: 450px;
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    background-color: #faf9f6;
    margin: 10px;
}
.item-mini {
    background-color: #faf9f6;
    height: 100%;
    padding: 0;
    margin: 0;
}
.item-top {
    text-align: center;
    height: 50%;
    background-color: #faf9f6;
    padding: 0;
    margin: 0;
}
p {
    background-color: #faf9f6;
    padding: 0.5px;
    margin: 0;
}
p {
    font-size: 1.5em;
}
.item-link {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #faf9f6;
    padding: 0.5px;
    margin: 0;
}

img {
    height: 40%;
    width: 50%;
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 70px;
}

.item-mini,
img {
    max-height: fit-content;
    max-width: fit-content;
    border-radius: 5px;
}

.items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-link:hover {
    transform: scale(1.05);
}

.item-link:active {
    transform: scale(0.95);
}
